.margin-bottom-17 {
  margin-bottom: 17px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.orange {
  color: $orange;
}

.back-news {
  width: 100%;
  max-width: 1240px;
  background: $black;
  padding-top: 100px;
  text-align: center;

  & h2 {
    margin-bottom: 49px;
    color: $white;
  }
}

.news-block-1 {
  display: flex;
  gap: 55px;
  padding: 0 20px;
  margin-bottom: 67px;
}

.news-block-text {
  text-align: left;

  & h3 {
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: $white;
  }
}

.news-block-avatar {
  display: flex;
  gap: 16px;
  margin-bottom: 47px;

  & p {
    font-size: 12px;
    margin: 0;
  }
}

.news-button {
  width: 135px;
  height: 53px;
  background: none;
  border: 1px solid $dark-gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;

  & a {
    color: $dark-gray;
  }
}

.news-block-2 {
  display: flex;
  gap: 55px;
  padding: 0 20px;
}

@media (width <= 1240px) {
  .back-news {
    width: 100%;
    max-width: 600px;
    padding: 100px 20px 0;

    & h2 {
      margin-bottom: 48px;
    }
  }

  .news-block-1 {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin-bottom: 64px;

    & img {
      max-width: 575px;
      width: 100%;
    }
  }

  .news-block-text {
    order: 1;
    max-width: 575px;

    & h3 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }

  .news-block-2 {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0;

    & img {
      max-width: 575px;
      width: 100%;
    }
  }

  .news-block-avatar {
    & img {
      width: auto;
    }
  }
}
