* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
.dark-gray {
  color: #cacaca;
}

.gray {
  color: #e0e0e0;
}

.back-header {
  position: relative;
  width: 100%;
  max-width: 1440px;
}
.back-header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Morten_Harket.png");
  background-position: center;
  background-size: cover;
  content: "";
  z-index: -1;
}

.header-absolute {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 0;
  font-size: 11px;
  top: 25px;
  left: 120px;
  content: "";
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-right: 86px;
}
.header-logo p {
  color: #ffffff;
}

.header-logo-img {
  width: 24px;
  height: 24px;
}

.header-links {
  display: flex;
  gap: 23px;
  margin-right: 452px;
}

.header-form-input {
  width: 250px;
  height: 25px;
  background: #3c3b3d;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0 10px;
}
.header-form-input::placeholder {
  font-size: 13px;
  color: #757575;
}

.executor {
  color: #ffffff;
  padding: 250px 120px 223px;
}
.executor h1 {
  margin-bottom: 16px;
}
.executor p {
  margin-bottom: 48px;
}

.executor-buttons {
  display: flex;
  gap: 24px;
}

.button-mix {
  width: 200px;
  height: 62px;
  background: #5328a1;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px 30px;
}
.button-mix a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.button-mix a img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.button-favorites {
  width: 200px;
  height: 62px;
  background: #95390c;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px 30px;
}
.button-favorites a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.button-favorites a img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

@media (max-width: 1240px) {
  .back-header {
    max-width: 600px;
    padding: 0 20px;
  }
  .header-absolute {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    left: auto;
    width: calc(100% - 40px);
  }
  .header-logo {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header-links {
    flex-direction: column;
    gap: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .header-form {
    width: 100%;
  }
  .header-form-input {
    width: 100%;
  }
  .executor {
    padding: 225px 0 223px;
  }
  .executor-buttons {
    flex-direction: column;
  }
}
.white {
  color: #ffffff;
}

.gray {
  color: #e0e0e0;
}

.back-popular-tracks {
  width: 100%;
  max-width: 1440px;
  background: #08020d;
  padding: 100px 0 0 120px;
  text-align: left;
}
.back-popular-tracks h2 {
  margin-bottom: 48px;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.popular-track {
  display: flex;
  gap: 15px;
  width: 550px;
}
.popular-track img {
  width: 55px;
  height: 55px;
}
.popular-track p {
  font-size: 13px;
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

@media (max-width: 1240px) {
  .back-popular-tracks {
    max-width: 600px;
    padding: 100px 20px 0;
  }
}

/*# sourceMappingURL=artist.css.map */
