.gray {
  color: $gray;
}

.font-size-18 {
  font-size: 18px;
}

.back-similar-artists {
  width: 100%;
  max-width: 1240px;
  background: $black;
  color: $white;
  padding: 99px 20px 0;
  text-align: left;

  & h2 {
    margin-bottom: 49px;
  }
}

.similar-artists {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.similar-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
}

@media (width <= 1240px) {
  .back-similar-artists {
    max-width: 600px;
    padding: 100px 20px;

    & h2 {
      margin-bottom: 47px;
    }
  }

  .similar-item {
    & img {
      width: 137px;
      height: 137px;
    }
  }

  .similar-info {
    max-width: 137px;
  }
}
